#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.userCard {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  padding: 2rem;
  width: 75vw;
}

.subtext {
}
