#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 100vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.scrollStart {
  min-height: 100vh;
  scroll-snap-align: start;
}

.id {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  min-width: 100vw;
  max-height: 0;
}

.content {
  padding: 0 2rem;
  scroll-margin: 2rem;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
